.section-telemedicine{
    padding: 11.3rem 0;
    background-color: $color-white;
    height: 140vh;
    height: max-content;
    // background: url('/images/sections/telemedicien/telemedicien-vector2.png'), $color-white;
    // background-position: center 77%;
    background-position: center 117%;
    background-repeat: no-repeat;
    // background-size: 1136px;
    display: flex;
    flex-wrap: wrap;
    gap: 3.3rem;

    .telemedicine-row{
        height: 120vh;
        background: url('../images/sections/telemedicien/telemedicien-vector2.png'), #fff;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        width: 80%;
        margin: 0 auto;
        

        .col-border{
            transform: scale(1.8);
            -webkit-transform: scale(1.8);
            -moz-transform: scale(1.8);
            -ms-transform: scale(1.8);
            -o-transform: scale(1.8);
        }

        .telemedicine-col-hadding{
            font-family: $font-Manrope;
            font-style: normal;
            font-weight: 700;
            font-size: 6.4rem;
            display: flex;
            align-items: center;
            letter-spacing: -3px;
            display: inline-block;

            span{
                font-size: 2.5rem;
                color: inherit;
            }
        }

        .telemedicine-col-text{
            font-family: $font-Inter;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: -0.32px;
        }

        .row--1{
            margin-top: 7rem;
            height: 45%;

            .telemedicine-col-1{
                margin-left: 1rem;
                // width: 73%;
                .owl-carousel-3{
                    position: relative;
                    width: 84%;

                    &::after{
                        content: '' ;
                        position: absolute;
                        z-index: 3;
                        width: 10rem;
                        height: 4rem;
                        top: 0.5rem;
                        right: -2.2rem;
                        background: linear-gradient(-90deg, #FFFFFF 44.59%, rgba(255, 255, 255, 0) 125%);
                        transform: matrix(1, 0, 0, -2, 0, 0);
                        -webkit-transform: matrix(1, 0, 0, -2, 0, 0);
                        -moz-transform: matrix(1, 0, 0, -2, 0, 0);
                        -ms-transform: matrix(1, 0, 0, -2, 0, 0);
                        -o-transform: matrix(1, 0, 0, -2, 0, 0);
                    }    
                }
                
                .telemedicine-col-btn{
                    padding: 1.2rem 2.4rem;
                    border: none;
                    border: 1px solid #E2E2EA;
                    color: $siteColor-sec;
                    background-color: $color-white;
                    font-family: $font-Manrope;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 22px;
                    letter-spacing: -0.12px;
                    border-radius: 6px;
                    -webkit-border-radius: 6px;
                    -moz-border-radius: 6px;
                    -ms-border-radius: 6px;
                    -o-border-radius: 6px;
                }
    
                .telemedicine-btn-active{
                    background: $siteColor-sec;
                    color: $siteColor-tri;
                    border: none !important;
                }
    
                .telemedicine-col-1--card{
                    display: flex;
                    align-items: center;
                    padding: 1.2rem 1.4rem;
                    background: #FFFFFF;
                    box-shadow: 0px 10px 18px rgba(21, 17, 58, 0.03);
                    border-radius: 1.2rem;
                    -webkit-border-radius: 1.2rem;
                    -moz-border-radius: 1.2rem;
                    -ms-border-radius: 1.2rem;
                    -o-border-radius: 1.2rem;
                    opacity: 0.6;
                    box-shadow: 0px 10px 18px rgba(21, 17, 58, 0.03);
                    margin-left: 6rem;
                    width: 76%;
    
                    .card--text{
                        h3{
                            font-size: $font-Manrope;
                            font-weight: 700 !important;
                            font-size: 1.8rem;
                            line-height: 24px;
                            letter-spacing: -0.36px;
                        }
                        span{
                            font-family: $font-Inter;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 22px;
                            letter-spacing: -0.24px;
                            color: $color-gray-1;
                        }
                    }
    
                    .card--button{
                        button{
                            padding: .8rem 1rem;
                        }
                    }
                }
    
                .card--active{
                    padding: 1.2rem 2.4rem !important;
                    opacity: 1 !important;
                    margin-left: 3rem !important;
                    width: 80% !important;
                }
            }
    
            .telemedicine-col-2{
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                
                .col-2--border{
                    border-left: 1px dashed #E2E2EA;
                    height: 88px;
                }
            }
    
            .telemedicine-col-3{
                display: flex;
                justify-content: center;
                align-items: center;
                background: url('../images/sections/telemedicien/video.png');
                background-position: 0rem 3rem;
                background-repeat: no-repeat;
                background-size: 44%;
                text-align: center;

                .telemedicine-col-3--content{
                    h3{
                        color: $siteColor-pri;
                    }

                    p{
                        width: 67%;
                        margin: 0 auto;
                    }
                }
                
            }
        }

        .row--2{
            height:30%;
            margin-top: 1rem;
            width: 95%;

            .telemedicine-col-4{
                background: url('../images/sections/telemedicien/calendar-time.png');
                background-position: 2rem 2.8rem;
                background-repeat: no-repeat;
                display: flex;
                align-items: flex-end;
    
                .telemedicine-col-4--content{
                    width: 85%;
                    text-align: center;
                    margin-left: auto;

                    h3{
                        color: #615B17;
                    }
                }
                
            }
    
            .telemedicine-col-5{
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
    
                .col-5--border{
                    border-top: 1px dashed #E2E2EA;
                    width: 88px;
                }
            }
    
            .telemedicine-col-6{
                display: flex;
                justify-content: center;
                align-items: end;

                    .telemedicine-col-6--content{
                        background-color: $color-white;
                        box-shadow: 0px 10px 20px rgba(21, 17, 58, 0.03);
                        border-radius: 12px;
                        width: 85%;
    
                        .col-6--content-row{
                            display: flex;
                            padding: 2rem;
                            padding-top: 0;
    
                            .content-row-col-1{
                                width: 64%;
                                margin-right: 1rem;
                            }
    
                            .col-1-border{
                                border-bottom: 1px solid #E2E2EA;
                                padding-bottom: 0.5rem;
                            }
    
                            .text,
                            .value{
                                font-family: $font-Inter;
                                font-style: normal;
                            }
    
                            .text{
                                font-weight: 400;
                                line-height: 20px;
                                margin: 0;
                                letter-spacing: -0.4px;
                                color: $color-gray-1;
                            }
    
                            .value{
                                font-weight: 500;
                                line-height: 22px;
                                letter-spacing: -0.24px;
                            }
    
                            .edit-btn{
                                padding: 1rem;
                                background-color: $color-white;
                                line-height: 18px;
                                text-align: center;
                                letter-spacing: 0.2px;
                            }
                        }
                    }
                
            }
        }

    }


// ---------------------- Media Querys ------------------------ //
@media only screen and (max-width: 1176px){
    .telemedicine-row{
        background-size: 104%;
        width: 86%;
    }
}

@media only screen and (max-width: 1052px){
    .telemedicine-row{
        background-size: 102% 104%;
        width: 93%;

        .row--2{
            width: 100%;
            margin-top: 0rem;

            .telemedicine-col-4{
                width: 33.33333333% !important;
            }
            
            .telemedicine-col-5{
                .col-5--border{
                    width: 70px;
                    margin-left: 5rem;
                }
            }

            .telemedicine-col-6{
                width: 50% !important;
            }
        }
    }
}

@media only screen and (max-width: 910px){
    .telemedicine-row{
        background-size: 102% 104%;
        width: 93%;

        .telemedicine-col-2,
        .telemedicine-col-5{
            display: none !important;
        }

        .telemedicine-col-1,
        .telemedicine-col-3{
            width: 50%;
            margin: 0 !important;
        }

        .row--2{
            width: 100%;
            margin-top: 0rem;

            .telemedicine-col-4{
                width: 50% !important;
            }
        }
    }
}

@media only screen and (max-width: 782px){
    .telemedicine-row{
        background: url('../images/sections/telemedicien/vectortablet.png');
        background-position: top;
        background-size: 110% 100%;
        background-repeat: no-repeat;
        
        .row--1{
            margin-top: 9.5rem;
        }
        .row--2{
            margin-top: 1rem;

            .telemedicine-col-6{
                .telemedicine-col-6--content{
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 666px){
    .telemedicine-row{
        .telemedicine-col-hadding{
            font-size: 5.4rem !important;
        }

        .telemedicine-col-text{
            font-size: 1.4rem !important; 
        }

        .row--1{
            margin-top: 12.5rem;

            .telemedicine-col-1{

                .owl-carousel-3{
                    width: 182% !important;  
                }
    
                .telemedicine-btn-active{
                    background: $siteColor-sec;
                    color: $siteColor-tri;
                    border: none !important;
                }
    
                .telemedicine-col-1--card{
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: max-content !important;
                    margin-top: -9rem;
                    margin-left: 9.5rem;
    
                    .card--text{
                        text-align: center;
                        margin: 0 !important;
                    }
    
                    .card--button{
                        button{
                            display: none;
                        }
                    }
                }
    
                .card--active{
                    padding: 1.2rem 2.4rem !important;
                    opacity: 1 !important;
                    margin-left: 3rem !important;
                    margin-top: 0rem !important;
                    margin-left: 3rem !important;
                    background: #fff;
                    position: relative;
                    z-index: 2;
                }
            }

            .telemedicine-col-3{
                background-position: 4rem 4rem;
                background-size: 34%;
            }

        }
        .row--2{
            margin-top: -2rem;

            .telemedicine-col-4{
                width: 65% !important;

                .telemedicine-col-4--content{
                    margin-left: 2rem;
                    margin-bottom: 3rem;
                }
            }
            .telemedicine-col-6{
                width: 35% !important;
                .telemedicine-col-6--content{
                    width: max-content;
                }
            }
        }
    }
}

}