.section-telemedicine{
    width: 100%;
    padding: 11.3rem 0;
    background-color: $color-white;

    .telemedicine-row{
        width: 88%;
        margin: 0 auto;
        padding-top: 4.5rem;
        position: relative;

        .col-border{
            transform: scale(1.8);
            -webkit-transform: scale(1.8);
            -moz-transform: scale(1.8);
            -ms-transform: scale(1.8);
            -o-transform: scale(1.8);
        }
        
        .telemedicine-col-hadding{
            font-family: $font-Manrope;
            font-style: normal;
            font-weight: 700;
            font-size: 6.4rem;
            display: flex;
            align-items: center;
            letter-spacing: -3px;
            display: inline-block;

            span{
                font-size: 2.5rem;
                color: inherit;
            }
        }

        .telemedicine-col-text{
            font-family: $font-Inter;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: -0.32px;
        }

        .row--1{
            position: absolute;
            width: 100%;
            top: 15rem;

            .telemedicine-col-1{
                .owl-carousel-3{
                    width: 82%;
                    &::after{
                        content: '' ;
                        position: absolute;
                        z-index: 3;
                        width: 10rem;
                        height: 4rem;
                        top: 0.5rem;
                        right: -2.2rem;
                        background: linear-gradient(-90deg, #FFFFFF 44.59%, rgba(255, 255, 255, 0) 125%);
                        transform: matrix(1, 0, 0, -2, 0, 0);
                        -webkit-transform: matrix(1, 0, 0, -2, 0, 0);
                        -moz-transform: matrix(1, 0, 0, -2, 0, 0);
                        -ms-transform: matrix(1, 0, 0, -2, 0, 0);
                        -o-transform: matrix(1, 0, 0, -2, 0, 0);
                    } 
                }
                .telemedicine-col-btn{
                    padding: 1.2rem 2.4rem;
                    border: none;
                    border: 1px solid #E2E2EA;
                    color: $siteColor-sec;
                    background-color: $color-white;
                    font-family: $font-Manrope;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 22px;
                    letter-spacing: -0.12px;
                    border-radius: 6px;
                    -webkit-border-radius: 6px;
                    -moz-border-radius: 6px;
                    -ms-border-radius: 6px;
                    -o-border-radius: 6px;
                }
                .telemedicine-btn-active{
                    background: $siteColor-sec;
                    color: $siteColor-tri;
                    border: none !important;
                }
                &--card{
                    display: flex;
                    align-items: center;
                    padding: 1.2rem 1.4rem;
                    background: #FFFFFF;
                    box-shadow: 0px 10px 18px rgba(21, 17, 58, 0.03);
                    border-radius: 1.2rem;
                    -webkit-border-radius: 1.2rem;
                    -moz-border-radius: 1.2rem;
                    -ms-border-radius: 1.2rem;
                    -o-border-radius: 1.2rem;
                    opacity: 0.6;
                    box-shadow: 0px 10px 18px rgba(21, 17, 58, 0.03);
                    margin-left: 6rem;
                    width: 66%;

                    .card--text{
                        h3{
                            font-size: $font-Manrope;
                            font-weight: 700 !important;
                            font-size: 1.8rem;
                            line-height: 24px;
                            letter-spacing: -0.36px;
                        }
                        span{
                            font-family: $font-Inter;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 22px;
                            letter-spacing: -0.24px;
                            color: $color-gray-1;
                        }
                    }
    
                    .card--button{
                        button{
                            padding: .8rem 1.5rem;
                        }
                    }
                
                }
                .card--active{
                    opacity: 1 !important;
                    margin-top: 0rem !important;
                    margin-left: 3rem !important;
                    background: #fff;
                    position: relative;
                    z-index: 2;
                }
            }

            .telemedicine-col-2{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 7rem;
                .col-2--border{
                    width: 1.5rem;
                    border-left: 1px dashed #E2E2EA;
                    height: 10rem;
                    margin-left: 4rem;
                }
            }

            .telemedicine-col-3{
                display: flex;
                justify-content: center;
                align-items: flex-end;
                background: url('../images/sections/telemedicien/video.png');
                background-position: 1rem 3rem;
                background-repeat: no-repeat;
                background-size: 43%;

                &--content{
                    text-align: center;
                    width: 70%;
                    margin-top: 10rem;
                }
            }
        }

        .row--2{
            position: absolute;
            top: 61%;
            height: 34%;
            width: 100%;

            .telemedicine-col-4{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                background: url('../images/sections/telemedicien/calendar-time.png');
                background-position: 6rem -1rem;
                background-repeat: no-repeat;
                background-size: 42%;
                &--content{
                    width: 73%;
                    h3{
                        color: #615B17;
                    }
                }
            }

            .telemedicine-col-5{
                display: flex;
                align-items: center;
                justify-content: center;

                .col-border{
                    border-top: 1px dashed #E2E2EA;
                    height: 1rem;
                    width: 50%;
                }
            }

            .telemedicine-col-6{
                .card{
                    padding: 2rem;
                    padding-right: 0rem;
                    border: none !important;
                    width: 80%;
                    margin: 0 auto;
                    background: $color-white;
                    box-shadow: 0px 10px 20px #15113a08;
                    border-radius: 1.2rem;
                    -webkit-border-radius: 1.2rem;
                    -moz-border-radius: 1.2rem;
                    -ms-border-radius: 1.2rem;
                    -o-border-radius: 1.2rem;

                    .card-row-1{
                        .text{
                            font-weight: 400;
                            line-height: 20px;
                            margin: 0;
                            letter-spacing: -0.4px;
                            color: $color-gray-1;
                        }
                        .value{
                            font-weight: 500;
                            line-height: 22px;
                            letter-spacing: -0.24px;
                        }
                        .card-button-box{
                            button{
                                padding: 1rem;
                                background-color: $color-white;
                                line-height: 18px;
                                text-align: center;
                                letter-spacing: 0.2px;
                            }
                        }
    
                    }
                }
            }
        }

    }

    @media only screen and (max-width: 1247px){

        .row--1{
            .telemedicine-col-2{
                margin-top: 1rem !important;
                .col-2--border{
                    height: 8rem !important;
                    margin-top: 2rem !important;
                }
            }
            .telemedicine-col-3{
                background-position: 0rem 1rem;
                align-items: center;
                &--content{
                    margin-top: 0 !important;
                }
            }
        }
    }

    @media only screen and (max-width: 1199px) {
        .telemedicine-row{
            .telemedicien-vector-img{
                height: 649.5px;
            }
        }

        .row--1{
            .telemedicine-col-1{
                &--card{
                    width: 80% !important;
                }
            }
        }

        .row--2{
            .telemedicine-col-6{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    @media only screen and (max-width: 1024px) {
        .row--1{
            .owl-carousel-3{
                width: 91%;
            }
            .telemedicine-col-1{
                &--card{
                    width: 90% !important;
                }
            }
        }

        .row--2{
            .telemedicine-col-6{
                .card{
                    width: 90% !important;
                }
            }
        }
    }

    @media only screen and (max-width: 939px){
        .telemedicine-row{
            width: 100%;
        }

        .row--1{
            .telemedicine-col-1{
                &--card{
                    width: 85% !important;
                }
            }

            .telemedicine-col-3{
                background-position: 4rem 1rem !important;
                background-size: 35% !important;
            }
        }

        .telemedicine-col-2,
        .telemedicine-col-5{
            display: none !important;
        }
        .telemedicine-col-1,
        .telemedicine-col-3,
        .telemedicine-col-4,
        .telemedicine-col-6{
            width: 50% !important;
        }

        .telemedicine-col-4{
            background-position: 14rem 1rem !important;
            background-size: 24% !important;
        }

        .telemedicine-col-6{
            .card{
                width: 74% !important;
                margin-left: 1rem !important;
            }
        }
    }

    @media only screen and (max-width: 695px) {
        .telemedicien-vector-img{
            height: 689.5px !important;
        }
        .telemedicine-col-4{
            &--content{
                width: 91% !important;
            }
        }
        .row--1{
            .telemedicine-col-1{
                .owl-carousel-3{    
                    width: 100% !important;
                    margin-top: 2rem;
                }
                &--card{
                    width: 100% !important;
                }
            }
            .telemedicine-col-3{
                background-position: 6rem 3rem !important;
                // justify-content: flex-end !important;
            }
        }

    }

    @media only screen and (max-width: 595px){
        .telemedicine-row{
            overflow: hidden;
        }
        .telemedicine-col-hadding{
            font-size: 4.4rem !important;
        }
        .telemedicine-col-text{
            font-size: 1.3rem !important;
        }
        .row--1{
            .telemedicine-col-1{
                .owl-carousel-3{
                    width: 175% !important;
                }
                &--card{
                    width: max-content !important;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    margin-top: -10rem;
                    margin-left: 8rem;

                    .card--text{
                        text-align: center;
                    }

                    .card--button{
                        display: none !important;
                    }
                }
            }
            .telemedicine-col-3{
                width: 40% !important;
                background-position: 0rem 9rem !important;
                &--content{
                    width: 100% !important;
                    margin-top: 7rem !important;
                }
            }
        }
        .row--2{
            width: 137% !important;
            .telemedicine-col-4{
                background-position: 4rem 3rem !important;
                background-size: 27% !important;
            }
            .telemedicine-col-6{
                .value, .text{
                    font-size: 1.2rem !important;
                }
            }
        }
    }

    @media only screen and (max-width: 436px) {
        .telemedicine-row{
            .telemedicien-vector-img{
                width: 105% !important;
            }

            .row--1{
                .telemedicine-col-1{
                    &--card{
                        margin-left: 4rem !important;
                    }
                    .card--active{
                        margin-left: 1rem !important;
                    }
                }
                .telemedicine-col-3{
                    width: 50% !important;
                }
            }
        }

    }
}