.section__telemedicine{
    padding-top: 5.7rem;
    padding-bottom: 33.7rem;
    position: relative;

    .telemedicine__heading_box{
        margin-top: 30px;
    }

    .telemedicine__text_box{
        height: fit-content;

        // ------- Telemedicine text box row 1 ----------- //
        &--row-1{
            // width: 79%;
            margin-bottom: 10rem;

            .col__1{
                display: flex;
                flex-direction: column;
                align-items: center;

                .silder__telemedicine-box{
                    width: 50% !important;
                    
                    .silder__box-slide {
                        padding: 8px 23px !important;
                        border: 1px solid #E2E2EA;
                        border-radius: 6px;
                        span{
                            font-size: 1.5rem;
                            color: $color-dark-1 !important;
                            font-weight: 800;
                            letter-spacing: -0.12px;
                            font-family: $font-Manrope;
                        }
                    }

                    .telemedicine__active{
                        background-color: $siteColor-sec !important;
                        span{
                            color: $siteColor-tri !important;
                        }
                    }
                }

                .telemedicine_card{
                    width: 100%;
                    display: flex;
                    text-align: center;
                    flex-direction: column;
                    justify-content: center;
               

                    .card__box{
                        width: 49%;
                        display: flex;
                        padding: 10px;
                        background-color: $color-white;
                        box-shadow: 0px 10px 18px rgba(21, 17, 58, 0.03);
                        border-radius: 12px;
                        position: relative;

                        .card__text{
                            margin-right: auto;
                            line-height: -2px;
                            text-align: start;
                            padding-left: 10px;
                            display: flex;
                            align-items: center;

                            h3{
                                font-family: $font-Manrope;
                                font-size: 1.8rem;
                                font-weight: 800;
                                letter-spacing:-0.36px;
                                color: $color-dark-1;
                                margin: 0 !important;
                            }

                            span{
                                font-family: $font-Inter;
                                font-size: 1.4rem;
                                letter-spacing: -0.24px;
                                font-weight: 500;
                                color: #798085;
                                padding-left: 0;
                            }
                        }
                        .card__button button{
                                font-family: $font-Manrope !important;
                                font-weight:800 !important;
                                font-size: 1.3rem;
                                letter-spacing: 0.2px;
                                padding: 7px 10px;
                                border-radius: 6px !important;
                                -webkit-border-radius: 6px !important;
                                -moz-border-radius: 6px !important;
                                -ms-border-radius: 6px !important;
                                -o-border-radius: 6px !important;
                        }
                    }

                    .card__1{
                        filter: drop-shadow(0px 0px 0px rgba(21, 17, 58, 0.1));
                        z-index: 2;
                        -webkit-filter: drop-shadow(0px 0px 0px rgba(21, 17, 58, 0.1));
                    }

                    .card__2{
                        opacity: 0.7;
                    }
                }
            }
            .col__2{
                width: 1.33333% !important;
                border-left: 1px dashed #E2E2EA ;
                height: 80px;
                transform: scale(1.7);
                margin-top: 13rem;
            }
            .col__3{
                position: relative;
                top: 45px;
                left: 32px;
                background: url(/images/video.png);
                background-position: -2% -66%;
                background-repeat: no-repeat;

                .col__content__box{
                    display: flex;
                    top: 50%;
                    left: 50%;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    transform: translate(-50%, -50%);
                    -webkit-transform: translate(-50%, -50%);
                    -moz-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    -o-transform: translate(-50%, -50%);
                }
            }
        }

        // ------- Telemedicine text box row 2 ----------- //
        &--row-2{
            // margin-top: 10rem;
            position: relative;
            top: 5rem;

            .col__1{
                left: 7rem;

                .col__content__box{
                    height: auto !important;
                    background: url(/images/calendar-time.png);
                    background-position: 19% 81%;
                    background-repeat: no-repeat;
                    h3{
                        background: url(/images/pers.png);
                        background-repeat: no-repeat;
                        background-position: 26rem 53%;
                       
                        span:nth-child(1){
                            font-size: 6.5rem; 
                       }
                       span:nth-child(2){
                            font-size: 2.9rem;
                       }
                    }
                }
            }

            .col__2{

                .boder__box{
                    width: 70%;
                    position: relative;
                    left: -17px;
                    top: 6rem;
                    margin-right: 2rem;
                    border-top: 1px dashed #E2E2EA ;
                    transform: scale(1.7);
                    -webkit-transform: scale(1.7);
                    -moz-transform: scale(1.7);
                    -ms-transform: scale(1.7);
                    -o-transform: scale(1.7);
                }
            }

            .col__3{
                position: relative;

                &--card{
                    position: absolute;
                    top: 50%;
                    left: 45%;
                    width: 75%;
                    transform: translate(-50%, 0%);
                    -webkit-transform: translate(-50%, 0%);
                    -moz-transform: translate(-50%, 0%);
                    -ms-transform: translate(-50%, 0%);
                    -o-transform: translate(-50%, 0%);

                    .card__body{
                        background-color: $color-white;
                        padding: 10px 18px;
                        box-shadow: 0px 10px 20px rgba(21, 17, 58, 0.03);
                        border-radius: 12px;

                        .card__row{
                            display: flex;
                            justify-content: space-between;
                            width: 100%;
                            
                            &:first-child{
                                .card__row--box{
                                    border-bottom: 1px solid #E2E2EA;
                                }
                            }

                            &--1,
                            &--2{
                                span{
                                    font-size: 1.4rem;
                                }

                            }

                            &--2{
                                margin-right: 18px;
                            }

                            .text{
                                color: #697883;
                            }

                            .value{
                                color: $color-dark-1;
                                font-weight: 600;
                            }

                            &--button{
                                text-align: center;
                                padding-right: 78px;
                                width: 5%;

                                button{
                                    background-color: $color-white;
                                    padding: 5px 10px;
                                    font-size: 1.4rem;
                                    font-weight: 700 !important;
                                    border-radius: 4px !important;
                                    -webkit-border-radius: 4px !important;
                                    -moz-border-radius: 4px !important;
                                    -ms-border-radius: 4px !important;
                                    -o-border-radius: 4px !important;
                                }
                            }
                        }

                        hr{
                            width: 63%;
                        }
                    }
                }
            }
        }

        &--img{
            position: absolute;
            width: 100%;
            //top: 0;
            display: flex;
            padding-bottom: 20px;
            justify-content: center;
            align-items: center;

            &-vector{
                width: 80%;
            }
        }
    }

    // ------- col in row 1 and 2 re useable code----------- //
    .col__content__box{
        position: absolute;
        font-family: $font-Manrope;
        width: 100%;
        height: 100%;

        h3 {

            span:nth-child(1){
                color: inherit;
                letter-spacing: -3px;
                font-size: 5.5rem;
                font-weight: 800;
           }
           span:nth-child(2){
                color: inherit;
                font-size: 2.5rem;  
                font-weight: 800;
           }
        }
        span{
            font-size: 1.5rem;
            font-weight: 600;
            color: $color-dark-1;
        }
    } 
}