.telehealth__solution{
    padding: 5rem 0;
    margin-bottom: 5.5rem;
    background-color: $color-white;

    &__heading_box{
       
        h2{
            color: $siteColor-pri;
            font-weight: 700 !important;
        }
    }

    &--container{
        width: 78%;
        margin: 0 auto;

        .row__1{

            .col__1{
                display: flex;
                justify-content: start;
                align-items: start; 
                flex-direction: column;
                line-height: 1.4;

                p{
                    font-size: 2rem;
                    letter-spacing: -0.48px;
                    color: #697883;
                    padding-left: 6.4rem;                
                }
            }
        }
    }
}