.section__slider{
    padding: 32px 0;
    margin-bottom: 50px;
    width: 100%;
    position: relative;

    &::before,
    &::after{
        content: '' ;
        position: absolute;
        z-index: 3;
        width: 11%;
        height: 100px;
        background-color: #fff;
        top: 15px;
        filter: blur(1px);
        -webkit-filter: blur(1px);
}
&::before{
    left: 0;
    box-shadow: 30px 0px 60px #fff;
}
&::after{
    right: 0;
    box-shadow: -30px 0px 60px #fff;
}
}
.silder__box{
    width: 80% !important;
    position: relative;

    &-slide{
        text-align: center;
        font-size: 18px;
        padding: 12px 24px !important;
        width: fit-content !important;
        text-align: start;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        .slider__heading{
            font-weight: 700;
        }
        .slider__heading, .slider__text{
            font-size: 1.5rem; 
            letter-spacing:-0.6px;
            font-family: $font-Inter;
        }
        .slider__text{
            color: rgb(123, 123, 123) !important ;
            font-weight: 500;
        }
}
}
.silder__box-slide--1,
.silder__box-slide--6{
    background-color: #E1F8FB !important;
    color: #000321 !important;
}
.silder__box-slide--2{
    background: #FFF0F7 !important;
    color: #994167;
}
.silder__box-slide--3{
    background: #FEFCEB !important;
    color: #615B17;
}
.silder__box-slide--4{
    background: #F5F6FA !important;
    color: #474876;
}
.silder__box-slide--5{
    background: #EEF9F4 !important;
    color: #2A614B;
}
