.testimonial-slider{
    width: 85%;
    margin: auto;
    margin-top: 4.5rem !important;
    display: flex;
    flex-direction: column;
    gap: 3rem;

  
    &--box{
      display: flex;
      width: 100%;
  
      .testimonial-slider-slider{
        width: 33.33333333333333%;
        height: 246px;
        transition: all .5s ease;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        position: relative;
  
        .msg-box{
          position: absolute;
          width: 100%;
          height: 255px;
        }
        .slider-content{
          width: 82%;
          position: relative;
          z-index: 2;
          flex-direction: column;
          display: flex;
          justify-self: center;
          align-self: center ;
          margin: auto;
          text-align: center;
          margin-top: 5rem;
          padding-left: 3rem;
  
          .slider-content-hadding{
            font-family: $font-Manrope;
            font-style: normal;
            font-weight: 700;
            font-size: 2.4rem;
            line-height: 32px;
            text-align: center;
            letter-spacing: -0.72px;
          }
  
          p{
            font-family: $font-Inter;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            text-align: center;
            letter-spacing: -0.4px;
            color: $color-gray-1;
  
          }
        }
  
        .testimonial-author{
          display: flex;
          margin-top: 9rem;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-left: 0rem;
  
          .author-name{
            font-family: $font-Inter;
            font-weight: 600;
            font-size: 1.8rem;
            line-height: 26px;
            letter-spacing: -0.72px;
          }
          .authore-position{
            font-family: $font-Inter;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            text-align: center;
            letter-spacing: -0.4px;
            color: $color-gray-1;
  
          }
        }
      }
  
      input{
        display: none;
      }
    }
  
    .dots{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 10rem;
      margin: 5px;
      padding-top: 12rem;
  
      label{
        height: 8px;
        width: 8px;
        background-color: #140243;
        cursor: pointer;
        margin: 5px;
        transition: all 0.15s ease;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        -webkit-transition: all 0.15s ease;
        -moz-transition: all 0.15s ease;
        -ms-transition: all 0.15s ease;
        -o-transition: all 0.15s ease;
      }
    }
  
  // ---------------------- Media Querys ------------------------ //
    // @media only screen and (max-width: 1274px){
    //     width: 94%;
    //     margin-left: 4rem;
  
    //     .dots{
    //       padding-left: 4rem;
    //     }
    // }
  
    // @media only screen and (max-width: 1174px){
    //   width: 100%;
    //   margin-left: -1rem;
    // } 
  
    // @media only screen and (max-width: 1174px){
    //   width: 111%;
    //   margin-left: -7rem;
    // } 
  
    // @media only screen and (max-width: 984px){
    //   width: 123%;
    //   margin-left: -14rem;
    // } 
  
    // @media only screen and (max-width: 880px){
    //   width: 136%;
    //   margin-left: -17rem;
    // }
  
    // @media only screen and (max-width: 786px){
    //   width: 100%;
    //   margin: 0;
    //   margin-top: 4.5rem !important;
    //   margin-left: 0rem;
  
    //   &--box{
    //     .testimonial-slider-slider{
    //       width: 460px;
    //       height: 246px;
    //       margin-left: 3rem;
    //       left: -41rem;
  
    //       .msg-box{
    //         width: 540px;
    //       }
  
    //       .slider-content{
    //         width: 500px;
    //       }
    //     }
    //     .testimonial-author{
    //       margin-top: 8.5rem !important;
    //       margin-left: 9rem !important;
    //     }
    //   }
    //   .dots{
    //     padding-left: 2rem !important;
    //   }
    // }
  
    // @media only screen and (max-width: 692px){
  
    //   &--box{
    //     .testimonial-slider-slider{
    //       left: -65%;
    //     }
    //   }
    // }
  
    // @media only screen and (max-width: 576px){
  
    //   &--box{
    //     .testimonial-slider-slider{
    //       left: -89%;
    //     }
    //   }
    // }
  
  }
  
  .dot-active{
    height: 1.4rem !important;
    width: 1.4rem !important;
  }
  
  
  #img-1:checked ~ .testimonial-slider--1{
    transform: translate(38.8rem);
    -webkit-transform: translate(38.8rem);
    -moz-transform: translate(38.8rem);
    -ms-transform: translate(38.8rem);
    -o-transform: translate(38.8rem);
  }
  
  #img-1:checked ~ .testimonial-slider--2{
    transform: translate(38.8rem);
    -webkit-transform: translate(38.8rem);
    -moz-transform: translate(38.8rem);
    -ms-transform: translate(38.8rem);
    -o-transform: translate(38.8rem);
  }
  
  #img-1:checked ~ .testimonial-slider--3{
    transform: translate(38.8rem);
    -webkit-transform: translate(38.8rem);
    -moz-transform: translate(38.8rem);
    -ms-transform: translate(38.8rem);
    -o-transform: translate(38.8rem);
  }
  
  #img-2:checked ~ .testimonial-slider--1{
    transform: translate(0rem);
    -webkit-transform: translate(0rem);
    -moz-transform: translate(0rem);
    -ms-transform: translate(0rem);
    -o-transform: translate(0rem);
  }
  
  #img-2:checked ~ .testimonial-slider--2{
    transform: translate(0rem);
    -webkit-transform: translate(0rem);
    -moz-transform: translate(0rem);
    -ms-transform: translate(0rem);
    -o-transform: translate(0rem);
  }
  
  #img-2:checked ~ .testimonial-slider--3{
    transform: translate(0rem);
    -webkit-transform: translate(0rem);
    -moz-transform: translate(0rem);
    -ms-transform: translate(0rem);
    -o-transform: translate(0rem);
  }
  
  #img-3:checked ~ .testimonial-slider--1{
    transform: translate(-38.4rem);
    -webkit-transform: translate(-38.4rem);
    -moz-transform: translate(-38.4rem);
    -ms-transform: translate(-38.4rem);
    -o-transform: translate(-38.4rem);
  }
  
  #img-3:checked ~ .testimonial-slider--2{
    transform: translate(-38.4rem);
    -webkit-transform: translate(-38.4rem);
    -moz-transform: translate(-38.4rem);
    -ms-transform: translate(-38.4rem);
    -o-transform: translate(-38.4rem);
  }
  
  #img-3:checked ~ .testimonial-slider--3{
    transform: translate(-38.4rem);
    -webkit-transform: translate(-38.4rem);
    -moz-transform: translate(-38.4rem);
    -ms-transform: translate(-38.4rem);
    -o-transform: translate(-38.4rem);
  }
  
  // ---------------------- Media Querys ------------------------ //
  // @media only screen and (max-width: 786px){
  
  //   #img-1:checked ~ .testimonial-slider--1{
  //     transform: translate(50rem);
  //     -webkit-transform: translate(50rem);
  //     -moz-transform: translate(50rem);
  //     -ms-transform: translate(50rem);
  //     -o-transform: translate(50rem);
  // }
    
  //   #img-1:checked ~ .testimonial-slider--2{
  //     transform: translate(50rem);
  //     -webkit-transform: translate(50rem);
  //     -moz-transform: translate(50rem);
  //     -ms-transform: translate(50rem);
  //     -o-transform: translate(50rem);
  // }
    
  //   #img-1:checked ~ .testimonial-slider--3{
  //     transform: translate(50rem);
  //     -webkit-transform: translate(50rem);
  //     -moz-transform: translate(50rem);
  //     -ms-transform: translate(50rem);
  //     -o-transform: translate(50rem);
  // }
    
  //   #img-2:checked ~ .testimonial-slider--1{
  //     transform: translate(0rem);
  //     -webkit-transform: translate(0rem);
  //     -moz-transform: translate(0rem);
  //     -ms-transform: translate(0rem);
  //     -o-transform: translate(0rem);
  // }
    
  //   #img-2:checked ~ .testimonial-slider--2{
  //     transform: translate(0rem);
  //     -webkit-transform: translate(0rem);
  //     -moz-transform: translate(0rem);
  //     -ms-transform: translate(0rem);
  //     -o-transform: translate(0rem);
  // }
    
  //   #img-2:checked ~ .testimonial-slider--3{
  //     transform: translate(0rem);
  //     -webkit-transform: translate(0rem);
  //     -moz-transform: translate(0rem);
  //     -ms-transform: translate(0rem);
  //     -o-transform: translate(0rem);
  // }
    
  //   #img-3:checked ~ .testimonial-slider--1{
  //     transform: translate(-50rem);
  //     -webkit-transform: translate(-50rem);
  //     -moz-transform: translate(-50rem);
  //     -ms-transform: translate(-50rem);
  //     -o-transform: translate(-50rem);
  // }
    
  //   #img-3:checked ~ .testimonial-slider--2{
  //     transform: translate(-50rem);
  //     -webkit-transform: translate(-50rem);
  //     -moz-transform: translate(-50rem);
  //     -ms-transform: translate(-50rem);
  //     -o-transform: translate(-50rem);
  // }
    
  //   #img-3:checked ~ .testimonial-slider--3{
  //     transform: translate(-50rem);
  //     -webkit-transform: translate(-50rem);
  //     -moz-transform: translate(-50rem);
  //     -ms-transform: translate(-50rem);
  //     -o-transform: translate(-50rem);
  // }
  // }