.testimonial-slider{
    width: 85%;
    margin: auto;
    margin-top: 4.5rem !important;
    // display: flex;
    // flex-direction: column;
    // gap: 3rem;

  
    &--box{
      display: flex;
      width: 100%;
  
      .testimonial-slider-slider{
        width: 33.33333333333333%;
        // height: 246px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all .5s ease;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        position: relative;
  
        .msg-box{
          position: absolute;
          // width: 100%;
          // height: 255px;
        }
        .slider-content{
          width: 82%;
          position: relative;
          z-index: 2;
          flex-direction: column;
          display: flex;
          justify-self: center;
          align-self: center ;
          margin: auto;
          text-align: center;
          margin-top: 5rem;
          // padding-left: 3rem;
  
          .slider-content-hadding{
            font-family: $font-Manrope;
            font-style: normal;
            font-weight: 700;
            font-size: 2.4rem;
            line-height: 32px;
            text-align: center;
            letter-spacing: -0.72px;
          }
  
          p{
            font-family: $font-Inter;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            text-align: center;
            letter-spacing: -0.4px;
            color: $color-gray-1;
            width: 85%;
            margin: 0 auto;
  
          }
        }
  
        .testimonial-author{
          display: flex;
          width: 82%;
          margin: 0 auto;
          margin-top: 8rem;
          flex-direction: column;
          justify-content: center;
          align-items: center;
  
          .author-name{
            font-family: $font-Inter;
            font-weight: 600;
            font-size: 1.8rem;
            line-height: 26px;
            letter-spacing: -0.72px;
          }
          .authore-position{
            font-family: $font-Inter;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            text-align: center;
            letter-spacing: -0.4px;
            color: $color-gray-1;
  
          }
        }
      }
  
      input{
        display: none;
      }
    }
  
    .dots{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 10rem;
      // margin: 5px;
      // padding-top: 12rem;
  
      label{
        height: 8px;
        width: 8px;
        background-color: #140243;
        cursor: pointer;
        margin: 5px;
        transition: all 0.15s ease;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        -webkit-transition: all 0.15s ease;
        -moz-transition: all 0.15s ease;
        -ms-transition: all 0.15s ease;
        -o-transition: all 0.15s ease;
      }
    }
  
  // ---------------------- Media Querys ------------------------ //
    @media only screen and (max-width: 1300px){
      width: 100%;
    }
  
    @media only screen and (max-width: 1110px){
      &--box{
        width: 115%;
        position: relative;
        left: -8%;
      }
    } 

    @media only screen and (max-width: 956px){
      &--box{
        width: 139%;
        left: -18%;

        .testimonial-author{
          margin-top: 9rem !important;
        }
      }

      .dots{
        width: 103%;
      }
    } 
  
    @media only screen and (max-width: 788px){
      &--box{
        width: 167%;
        left: -32%;
      }
    } 

    @media only screen and (max-width: 662px){
      &--box{
        width: 193%;
        left: -45%;

        .testimonial-author{
          margin-top: 10rem !important;
        }

        .testimonial-slider-slider{
          .msg-box{
            width: 111%;
            height: 260px;
          }
          .slider-content{
            width: 100%;
          }
        }
      }
    } 

    @media only screen and (max-width: 474px){
      &--box{
        width: 262%;
        left: -81%;
      }
      .dots{
        height: 7rem;
      }
    }
  
  }
  
  .dot-active{
    height: 1.4rem !important;
    width: 1.4rem !important;
  }
  
  
  #img-1:checked ~ .testimonial-slider--1{
    transform: translate(100%);
    -webkit-transform: translate(100%);
    -moz-transform: translate(100%);
    -ms-transform: translate(100%);
    -o-transform: translate(100%);
}
  
  #img-1:checked ~ .testimonial-slider--2{
    transform: translate(100%);
    -webkit-transform: translate(100%);
    -moz-transform: translate(100%);
    -ms-transform: translate(100%);
    -o-transform: translate(100%);
}
  
  #img-1:checked ~ .testimonial-slider--3{
    transform: translate(100%);
    -webkit-transform: translate(100%);
    -moz-transform: translate(100%);
    -ms-transform: translate(100%);
    -o-transform: translate(100%);
}
  
  #img-2:checked ~ .testimonial-slider--1{
    transform: translate(0%);
    -webkit-transform: translate(0%);
    -moz-transform: translate(0%);
    -ms-transform: translate(0%);
    -o-transform: translate(0%);
}
  
  #img-2:checked ~ .testimonial-slider--2{
    transform: translate(0%);
    -webkit-transform: translate(0%);
    -moz-transform: translate(0%);
    -ms-transform: translate(0%);
    -o-transform: translate(0%);
}
  
  #img-2:checked ~ .testimonial-slider--3{
    transform: translate(0%);
    -webkit-transform: translate(0%);
    -moz-transform: translate(0%);
    -ms-transform: translate(0%);
    -o-transform: translate(0%);
}
  
  #img-3:checked ~ .testimonial-slider--1{
    transform: translate(-100%);
    -webkit-transform: translate(-100%);
    -moz-transform: translate(-100%);
    -ms-transform: translate(-100%);
    -o-transform: translate(-100%);
}
  
  #img-3:checked ~ .testimonial-slider--2{
    transform: translate(-100%);
    -webkit-transform: translate(-100%);
    -moz-transform: translate(-100%);
    -ms-transform: translate(-100%);
    -o-transform: translate(-100%);
}
  
  #img-3:checked ~ .testimonial-slider--3{
    transform: translate(-100%);
    -webkit-transform: translate(-100%);
    -moz-transform: translate(-100%);
    -ms-transform: translate(-100%);
    -o-transform: translate(-100%);
}
  
  // ---------------------- Media Querys ------------------------ //
  // @media only screen and (max-width: 786px){
  
  //   #img-1:checked ~ .testimonial-slider--1{
  //     transform: translate(50rem);
  //     -webkit-transform: translate(50rem);
  //     -moz-transform: translate(50rem);
  //     -ms-transform: translate(50rem);
  //     -o-transform: translate(50rem);
  // }
    
  //   #img-1:checked ~ .testimonial-slider--2{
  //     transform: translate(50rem);
  //     -webkit-transform: translate(50rem);
  //     -moz-transform: translate(50rem);
  //     -ms-transform: translate(50rem);
  //     -o-transform: translate(50rem);
  // }
    
  //   #img-1:checked ~ .testimonial-slider--3{
  //     transform: translate(50rem);
  //     -webkit-transform: translate(50rem);
  //     -moz-transform: translate(50rem);
  //     -ms-transform: translate(50rem);
  //     -o-transform: translate(50rem);
  // }
    
  //   #img-2:checked ~ .testimonial-slider--1{
  //     transform: translate(0rem);
  //     -webkit-transform: translate(0rem);
  //     -moz-transform: translate(0rem);
  //     -ms-transform: translate(0rem);
  //     -o-transform: translate(0rem);
  // }
    
  //   #img-2:checked ~ .testimonial-slider--2{
  //     transform: translate(0rem);
  //     -webkit-transform: translate(0rem);
  //     -moz-transform: translate(0rem);
  //     -ms-transform: translate(0rem);
  //     -o-transform: translate(0rem);
  // }
    
  //   #img-2:checked ~ .testimonial-slider--3{
  //     transform: translate(0rem);
  //     -webkit-transform: translate(0rem);
  //     -moz-transform: translate(0rem);
  //     -ms-transform: translate(0rem);
  //     -o-transform: translate(0rem);
  // }
    
  //   #img-3:checked ~ .testimonial-slider--1{
  //     transform: translate(-50rem);
  //     -webkit-transform: translate(-50rem);
  //     -moz-transform: translate(-50rem);
  //     -ms-transform: translate(-50rem);
  //     -o-transform: translate(-50rem);
  // }
    
  //   #img-3:checked ~ .testimonial-slider--2{
  //     transform: translate(-50rem);
  //     -webkit-transform: translate(-50rem);
  //     -moz-transform: translate(-50rem);
  //     -ms-transform: translate(-50rem);
  //     -o-transform: translate(-50rem);
  // }
    
  //   #img-3:checked ~ .testimonial-slider--3{
  //     transform: translate(-50rem);
  //     -webkit-transform: translate(-50rem);
  //     -moz-transform: translate(-50rem);
  //     -ms-transform: translate(-50rem);
  //     -o-transform: translate(-50rem);
  // }
  // }