.header{
    width: 100%;
    overflow-x: hidden;
    min-height: max-content;
    
    &-main{
        width: 100%;
        padding-top: 8rem;
    }

    &-Pattern1,
    &-Pattern2{
        width: 100%;
        margin: 0 auto;
        height: 100%;
        position: absolute;
        z-index: -1;
        background-size: contain;
        background-repeat: no-repeat !important; 
    }

    &-Pattern1{
        background: url('../images/main-general/Patterns1.png');
        background-position: 7px 154px;
        background-size: contain;
    }

    &-Pattern2{
        background: url('../images/main-general/Patterns2.png');
        background-position: 6px 159px;
        background-size: contain;
    }
    
    &-row{
        overflow-x: hidden;
        width: 100%;
        margin: 0 auto;

        .col-1{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 61%;
            text-align: start;
            flex-direction: column;

            &-box{
                padding-bottom: 6rem;
                padding-left: 0.8rem;
                width: 74%;
                max-width: 577px;
                h1{
                    margin-bottom: 2rem;
                }

                &--button{
                    padding: 11px 29px;
                    font-size: 1.5rem;
                }
            }
        }

        .col-2{
            padding: 5rem 0;
            img{
                position: relative  ;
                left: -2.9rem;
                min-width: 100%;
                top: 0.7rem;
            }
        }

        .tablate-ver-btn{
            display: none;
            padding-bottom: 10px ;
            justify-content: center;

            button{
                margin: 3rem  0 !important;
                margin-left: 2.2rem !important;
            }
        }
    }

// ---------------------- Media Querys ------------------------ //
    @media only screen and (max-width: 1022px){
        .col-1{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 59%;
            text-align: start;
            flex-direction: column;

            &-box{
                padding-bottom: 7.1rem;
                width: 89%;
            }
        }
    }

    @media only screen and (max-width: 964px){
        .col-2{
            padding: 4rem 0;
            img{
                left: -7rem;
            }
        }
    }
    
    @media only screen and (max-width: 1017px){
        .col-2{
            img{
                left: -7.9rem;
            }
        }
    }

    @media only screen and (max-width: 964px){
        &-Pattern1,
        &-Pattern2{
            display: none;
        }

        &-row{
            .col-1{
                width: 100%;
                text-align: center;
                padding-top: 7rem;

                &-box{
                    width: 89%;
                    padding-bottom: 0 !important;
    
                    h1{
                        color: $color-dark-1 !important;
                    }
    
                    &--button{
                        display: none !important;
                    }
                }
            }

            .col-2{
                padding: 0 !important;
                width: 100%;
                padding: 3rem 0 !important;
                background: url('../images/main-general/Patterns-tab-1.png'), url('../images/main-general/Patterns-tab-2.png')  !important;
                background-position: center 47% !important;
                background-repeat: no-repeat !important;
                background-size: contain;
    

                img{
                    width: auto;
                    min-width: auto;
                    height: 546px;
                    left: auto;
                }
            }

            .tablate-ver-btn{
                display: flex !important;

                button{
                    padding: 1.4rem 2.4rem !important;
                    font-weight: 700       !important;
                    line-height: 18px;
                    letter-spacing: 0.2px  !important;
                }
            }
        }
    }

    @media only screen and (max-width: 554px){
        &-row{
            .tablate-ver-btn{

                button{
                    margin-left: 0 !important;
                }
            }
        }
    }

    @media only screen and (max-width: 492px){
        &-row{
            .col-2{
                background: $color-light-1 !important;

                img{
                    width: 360px;
                    height: 446px;
                }
            }
        }
    }
}