$font-Inter:  'Inter', sans-serif;
$font-Manrope:  'Manrope';

$color-white: #fff;
$color-light-1: #F7F7F9;
$color-dark-1: #1D1C1F;
$siteColor-pri: #222254;
$siteColor-sec: #190354;
$siteColor-tri: #F2E33A;